@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  background: linear-gradient(180deg,#0f172a 0%, #041024 100%);
  color: #f8fafc;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
